---
---
<style>
     :root {
          /* text */
          --text-primary: #3c5a6b;
          --text-secondary: #866504;
          --text-text-tertiary: #206f6f;
          --text-text-inverted: #eef3f5;

          /* background */
          --background-default: #f8f7f4;
          --background-subtle: var(--grey2);
          --background-neutral: var(--grey3);
     }
     :root.theme-dark {

          /* text */
          --text-primary: #8fb4c7;
          --text-secondary: #f3d068;
          --text-text-tertiary: #75c7c7;
          --text-text-inverted: #1a262b;

          /* background */
          --background-default: #161b1e;
          --background-subtle: var(--grey2);
          --background-neutral: var(--grey3);


     }
     :is(#content h1, h2, h3, h4, h5, h6, .h50, .h100, .h200, .h300, .h400, .h500, .h600, .h700) {
          color: var(--text-secondary);
     }
</style>
<main>
     {{ content }}
</main>
